.box_input{
    width: fit-content;
    margin: auto;
}
.search_icon{
    top: 12px;
    left: 20px;
    color: black;
}
.section_products{
    border: 0.1px solid #1B1851;
    margin-top: 30px;
    height: 1520px;
}
.link_nav{
    color: white;
}
.box_nav{
    max-width: 1300px;
    margin: auto;
}
.nav_index{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 14px;
    width: fit-content;
}
.filter_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;
    margin-top: 35px;
}
.panel_filter_box{
    padding: 3px 20px 6px 3px;
    width: 200px;
}
.select_box{
   width: 180px;
   margin-left: 20px;
   outline: none;
   border: 3px solid #fff031;
   background-color: #1B1851;
   color: white;
   text-align: center;
   font-weight: bold;
   height: 50px;
   margin: 10px 1px;
   border-radius: 5px;
}
.search_info{
    text-align: center;
    padding-top: 10px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.range_box{
    margin-top: 15px;
}
.label_range{
    margin-left: 60px;
}
.input_range{
   width: 180px;
   margin-top: 5px;
}
.article_products{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 40px auto;
    border-radius: 5px;
    padding: 15px;
}
.products_box{
    width: 360px;
    height: 500px;
    margin: 30px;
    border-radius: 7px;
    border: 3px solid #fff031;
}
.price_box{
    display: flex;
    margin: 15px;
}
.real_price{
    font-size: 20px;
}
.link_product{
    color: white;
    text-decoration: none;
}
.non_price{
    color: red;
    text-decoration-line: line-through;
    font-size: 12px;
    margin-left: 60px;
    margin-right: 10px;
}
.img_products{
    margin-top: 25px;
    width: 70%;
    margin-left:15% ;
    margin-bottom: 25px;
}
.products_tit{
    text-align: center;
    margin: 15px;
}
.products_desc{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 15px;
}
.products_info{
    text-align: center;
    margin-top: 25px;
}
.footer{
    padding-top: 0;
}