*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body{
    background-color: #1B1851;
    color: white;
    font-family: Pluto;
}
.header{
    margin: auto;
    height: 100px;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #1B1851;
    max-height: 200px;
    margin-bottom: 50px;
}
.box_header{
    top: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    max-width: 2000px;
}
.logo_bar{
    color: #fff031;
    margin: 0 10px;
}
.tit_logo{
    font-size: 30px;
}
.link_logo{
    color: white;
    text-decoration: none;
    text-align: left;
    margin: 0;
    display: flex;
}
.logo_header{
    display: flex;
}
.img_logo{
    width: 145px;
}
.ul_nav{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    width: 620px;
}
.li_nav{
    margin-right: 15px;
    text-indent: 0;
    text-transform: uppercase;
}
.link_nav:hover{
    color: #fff031;
}
.link_nav{
    color: white;
    text-decoration: none;
    
}
.div_search{
    position: relative;
}
.search_icon_top{
    font-size: 25px;
    top: 12px;
    position: absolute;
    color: #1b1851;
    left:15px;
}
.input_search{
    width: 650px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    padding-left: 15px;
    font-family: RobotoLight;
    font-size: 19px;
    border: 3px solid #fff031;
    border-radius: 30px;
    line-height: 50px;
    outline: none;
    text-indent: 50px;
}
.tools_header{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
    text-align: center;
}
.login_box{
    width: 135px;
    color: #1B1851;
    text-decoration: none;
    background-color: yellow;
}
.select_language{
    font-family: Pluto;
    border: 3px solid yellow;
    width: 70px;
    background-color: #1B1851;
    text-decoration: none;
    color: white;
    text-align: center;
    outline: none;
}
.select_language:focus{
    background-color: #1B1851;
}
.option::after{
    background-color: #1B1851;
}
.section_major{
    margin-top: 30px;
}
.article_major{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    min-height: 680px;
    max-height: 1028px;
}
.tit_major{
    width: 600px;
    margin: 0 auto;
    font-size: 48px;
    color: #fff031;
    font-family: PlutoHeavy,sans-serif;    
}
.box_video{
    width: 650px;
}
.video_major{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;

}
.box_major{
    width: 50%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 65px;
    width: fit-content;
}
.desc_major{
    width: 600px;
    text-align: left;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 95px;
}
.mouse_pointer{
    color: #fff031;
    margin-left: 15px;
}
.boxlink_major{
    padding: 20px 40px;
    background-color: yellow;
    color: #1B1851;
    text-decoration: none;
    font-family: PlutoBold;
    border-radius: 35px;
}
.boxlink_major:hover{
    border: 1px solid #fff031;
    background-color: transparent;
    color:white;
}
.arrow_icon{
    margin-left: 5px;
}
.section_search{
    background-color: white;
    margin-left: 0;
}
.article_search{
    width: 1490px;
    color: #1B1851;
    height: 780px;
    margin: auto;
    position: relative;
}
.background_blue{
    height: 150px;
    background-color: #1B1851;
}
.text_search{
    padding: 15px;
    width:550px;
    padding-top: 60px;
}
.tit_search{
    font-size: 43px;
    margin-left: 180px;
    width: 360px;
    text-align: right;
    font-family: PlutoHeavy;
    margin-bottom: 60px;
}
.desc_search{
    margin-left: 150px;
    font-family: RobotoLight;
    height: 130px;
    width: 405px;
    font-size: 17px;
    margin-bottom: 50px;
    line-height: 30px;
}
.boxlink_search{
    margin-left: 270px;
    padding: 20px 30px;
    font-size: 15px;
    background-color: #1B1851;
    color: #fff031;
    text-decoration: none;
    font-family: PlutoBold;
    border-radius: 35px;
}
.box_search{
    height: 600px;
    width: 763px;
    left: 45.7rem;
    top: -3rem;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    padding:15px 40px;
    box-shadow: -9px 20px 43px 35px rgba(0,0,0,0.1);
}
.select_pointers{
    font-size: 50px;
}
.label_search{
    width: 270px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.search_input{
    border: 6px solid #fff031;
    margin-left: 160px;
    margin-top: 20px;
    width: 370px;
    border-radius: 30px;
    line-height: 50px;
    outline: none;
}
.search_input:focus{
    text-indent: 60px;
    font-family: PlutoBold;
    font-size: 20px;
    color: #1B1851;
}
.search_input::placeholder{
    text-indent: 60px;
    font-family: PlutoBold;
    font-size: 20px;
    color: #1B1851;
    padding-top: 5px;
}
.box_input{
    position: relative;
}
.search_icon{
    position: absolute;
    top: 40px;
    left:190px;
    font-size: 25px;
}
.resultbox_search{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.img_obj{
    width: 150px;
}
.desc_obj{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
.box_tit{
    margin: 60px auto;
    width: fit-content;
}
.desc_tit{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.box_footer{
    display: flex;
    justify-content: space-around;
}
.imgbox_download{
    width: fit-content;
    margin: 20px auto;
}
.img_download{
    width: 150px;
    width: fit-content;
}
.info_footer{
    display: flex;
    justify-content: center;
}
.link_info{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.send_footer{
    width: fit-content;
    margin: auto;
    margin-top:25px ;
    margin-bottom: 50px;
}
.desc_send{
    font-family: RobotoLight;
    text-align: center;
    margin-top: 15px;
}
.tit_download{
    width: fit-content;
    margin: auto;
}
.account_logos{
    font-size: 30px;
    
}